.hero {
  gap: 10%;
  display: flex;
  color: white;
  margin: 30px 0;
  background-color: var(--green);
}

.hero .col {
  width: 50%;
}

.hero .col h2 {
  font-size: 20px;
  text-transform: uppercase;
}

.hero .col h1 {
  font-size: 24px;
}

.hero .col h3 {
  font-size: 16px;
}

.hero .col button {
  padding: 0.4rem 2rem;
  border-radius: 5px;
  border-color: transparent;
}

.hero img {
  width: 90%;
}
