.team button {
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: black;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: none;
  margin-top: 2vh;
 }
 
 .team span p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #74C69D;
 }
 
 .team span h1 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 28px;
 }
 
 .team span h2 {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  width: 20vw;
  margin: 0 auto;
  text-align: center;
 }
 
 .team section {
  display: flex;
  gap: 2vw;
  justify-content: space-around;
 }
 
 .team section ul {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2vh 0 2.5vh 0;
  align-items: center;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(197, 196, 196);
  border-radius: 2px;
 }
 
 .team section ul p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
 }
 
 .team section ul .name {
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 1.5vh 0;
  padding: 0.75vh 0 0 0;
 }
 
 .team section img {
  width: 60%;
 }