:root {
  --green: #74C69D;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

header {
  background-color: var(--green);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .left {
  display: flex;
  align-items: center;
}

header .left span {
  font-size: 24px;
}

header .left img {
  width: 36px;
}

header .right {
  display: flex;
  align-items: center;
}

header .right ul {
  margin: 0 10px;
  list-style: none;
}

header .hamburger {
  display: none;
  cursor: pointer;
}

header .hamburger img {
  width: 30px;
  height: auto;
}

@media (max-width: 760px) {
  header .right ul {
    display: none;
  }

  header .hamburger {
    display: block;
  }
}
