:root {
  --green: #74C69D;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

header {
  background-color: var(--green);
  display: flex;
  color: white;
  justify-content: space-between;
}

header .left {
  display: flex;
  align-items: center;
}

header .left span {
  font-size: 24px;
}

header .left img {
  width: 36px;
}

header .right { 
  display: flex;
}



@media (max-width: 380px) {
  html, body {
    overflow-x: hidden;
  
  }
  header{
    .right{
      ul{
        display: none;
      }
      .hamburgericon{
      }

    }
    
  }
}
